body{
	margin:40px
	auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0
	10px
}

.postTitleLink {
    text-decoration: none;
    color: #444;
	font-size: 24px;
	margin: 0px;
}

.postTitle {
	margin-bottom: 0px;
}

.postDate {
    color: #aaa;
    font-size: 14px;
}

.postText{
	margin-top: 20px;
	margin-bottom: 50px;
}