:root {
	--text-color: #bfbfbf;
}

body{
	margin:40px auto;
	max-width:800px;
	line-height:1.6;
	font-size:18px;
	padding:0 10px;
	color: var(--text-color);
	background: #1c1c1c;
}

#middle{
	display: grid;
	grid-template-columns: 3fr 1.5fr;
}

@media only screen and (max-width: 800px) {
	#middle{
		display: block;
	}
}

#sideRight {
    margin: 10px;
	padding: 6px;
	height: max-content;
	background-color: #444;
	border-radius: 5px;
}

.archivedTitle {
    text-decoration: none;
    color: #5992b5;
    font-size: 14px;
}

.archivedDate {
    font-size: 10px;
}

.post{
	background-color: #444;
	padding: 10px;
	border-radius: 10px;
	margin: 5px;
    margin-bottom: 5px;
	margin-bottom: 30px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.42);
}

.postTitleLink {
    text-decoration: none;
	color: var(--text-color);
	font-size: 24px;
	margin: 0px;
}

.postTitle {
	margin-bottom: 0px;
}

.postDate {
    color: #919191;
    font-size: 14px;
}

.postText{
	margin-top: 20px;
	margin-bottom: 50px;
}