body{
	margin:40px
	auto;
	max-width:800px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0
	10px
}

#middle{
	display: grid;
	grid-template-columns: 3fr 1.5fr;
}

#sideRight {
    border: solid 1px;
    margin: 10px;
    padding: 6px;
}

.archivedTitle {
    text-decoration: none;
    color: darkblue;
    font-size: 14px;
}

.archivedDate {
    font-size: 10px;
}

.postTitleLink {
    text-decoration: none;
    color: #444;
	font-size: 24px;
	margin: 0px;
}

.postTitle {
	margin-bottom: 0px;
}

.postDate {
    color: #aaa;
    font-size: 14px;
}

.postText{
	margin-top: 20px;
	margin-bottom: 50px;
}