<footer id="footer">
    Other stuff around the web
    <a href="https://github.com/YOUR_GITHUB"><img class="icon" src ="/assets/img/iconmonstr-github-1.svg"/></a>
    <a href="https://twitter.com/YOUR_TWITTER"><img class="icon" src ="/assets/img/iconmonstr-twitter-4.svg"/></a>
    <a href="https://www.deviantart.com/YOUR_DEVIANT_ART"><img class="icon" src ="/assets/img/iconmonstr-deviantart-4.svg"/></a>
    <a href="https://www.youtube.com/channel/YOUR_YOUTUBE_CHANNEL"><img class="icon" src ="/assets/img/iconmonstr-youtube-6.svg"/></a>

</footer>
